.technologies {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--special-bg);
    border-radius: 4em;
    padding-bottom: 4em;
}

.tech-image-container {
   display: flex;
   flex-direction: column;
   max-width: 40%;
}

.tech-section {
    margin-bottom: 2em;
}

.tech-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--tech-text);
}

.tech-list {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5em;
}

.tech-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--link-bg);
    border-radius: 1.5em;
    padding: 1em;
}

.tech-logo {
    border: none;
    max-width: 3em;
}

.tech-link:hover {
    max-width: 3.3em;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

@media screen and (max-width: 750px) {
    .tech-image-container {
        max-width: 80%;
     }
}