.project-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.8;
}

.project-text {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    gap: 1em;
}

.project-text p {
    width: 50%;
}

.project-text img {
    max-width: 50%;
    height: 100%;
}

.project-text h2 {
    margin-left: 1em;
}

h1 {
    margin-top: 1.5em;
}

.gallery-container {
    background-color: var(--special-bg);
    border-radius: 4em;

    padding: 1em;
}

.gallery-container h2 {
    text-align: center;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
}

.gallery-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 50%;
    border-radius: 0.5em;
    margin-bottom: 3em;
}

.gallery-image img {
    max-width: 80%;
}

.gallery-image span {
    max-width: 75%;
    margin-top: 0.5em;
}

.project-navigation {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 2em;
    border-radius: 3em;
    padding: 0.4em 0.8em;
    text-align: center;
    align-items: center;
}

.project-link {
    border-radius: 2em;
}

@media screen and (max-width: 750px) {
    .gallery-container {
        width: 90%;
    }

    .gallery-image {
        max-width: 100%;
    }

    .gallery-image img {
        max-width: 100%;
    }

    .gallery-image span {
        max-width: 85%;
    }
}

@media screen and (max-width: 750px) {
    .project-text {
        flex-direction: column;
        margin-bottom: 2em;
        gap: 0;
    }
    
    .project-text p {
        width: 100%;
    }
    
    .project-text img {
        max-width: 100%;
        height: 100%;
    }
}