.home {
    display: flex;
    justify-content: space-around;
    margin-top: 5em;
    align-items: center;
}

.home p {
    font-size: 1.7em;
    max-width: 40%;
    line-height: 1.4;
}

.homeImg {
    max-width: 40%;
    border-radius: 5em;
}

@media screen and (max-width: 750px) {
    .home {
        justify-content: center;
        flex-direction: column;
    }

    .home p {
        font-size: 1.3em;
        max-width: 75%;
    }

    .home img {
        max-width: 50%;
        border-radius: 100%;
    }
}