.footer {
    background-color: var(--special-bg);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4em 4em 0 0;
    justify-content: space-between;
    padding: 1em 0 1em 0;
}

.contact-container {
    text-align: center;
}

.contact-links {
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin-right: 3em;
    justify-content: center;
    width: 100%;
    margin-top: 1em;
}

@media screen and (max-width: 750px) {
    .contact-links {
        flex-direction: column;
        gap: 1em;
    }
}