.contact-form {
    display: flex;
    flex-direction: column;
    
    background-color: var(--special-bg);
    border-radius: 0.5em;
    max-width: 60%;
    padding-bottom: 2em;

    align-items: baseline;

    margin: 0 auto;
    gap: 1em;
}

.contact-form textarea {
    width: 70%;
    height: 7em;
}

.contact-form * {
    margin-left: 3em;
}

.contact-form textarea, .contact-form input {
    background-color: var(--form-textarea-bg);
    outline: 2px solid var(--form-textarea-outline);
}

.contact-form textarea:focus, .contact-form input:focus {
    outline: 2px solid var(--form-textarea-outline-focus);
}

@media screen and (max-width: 750px) {
    .contact-form {
        max-width: 90%;
    }

    .contact-form input  {
        height: 2.5em;
    }
}