:root {
  --dark-gray-dark: rgb(20, 20, 20);
  --dark-gray-medium: rgb(50, 50, 50);

  --light-gray-medium: rgb(180, 180, 180);
  --light-gray-light: rgb(230, 230, 230);

  --light-blue-light: rgb(150, 190, 255);
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--light-gray-light);
  background-color: var(--dark-gray-medium);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

p,
.project-text {
  background-color: var(--dark-gray-dark);
  max-width: 80%;
  height: 100%;
  padding: 2em;
  border-radius: 0.5em;
}

a {
  color: var(--light-gray-light);
}

a:hover {
  color: var(--light-blue-light);
  transition: color 0.1s ease-in-out;
}

button {
  all: unset;
  cursor: pointer;
  display: inline-block;
}

.gradient{
  display: block;
  height: 2em;
  background: rgb(45,98,158);
  background: linear-gradient(180deg, rgba(45,98,158,0.6) 0%, rgba(45,98,158,0.6) 40%, rgba(50, 50, 50,0.6) 40%, rgba(50, 50, 50,0.6) 42%, rgba(84,144,224,0.6) 42%, rgba(84,144,224,0.6) 74%, rgba(50, 50, 50,0.6) 74%, rgba(50, 50, 50,0.6) 76%, rgba(150,190,255,0.6) 76%, rgba(150,190,255,0.6) 100%);
}

.link-style {
  padding: 20px;
  text-align: center;
  color: var(--light-gray-light);
}

.link-style:hover {
  background-color: var(--dark-gray-medium);
  text-decoration: underline;
  transition: background-color 0.15s ease-in-out;
  border-radius: 0.5em 0.5em 0 0;
}

@media screen and (max-width: 750px) {

}