:root {
  --dark-gray-dark: rgb(20,20,20);
  --dark-gray-medium: rgb(50,50,50);

  --light-gray-medium: rgb(180,180,180);
  --light-gray-light: rgb(230,230,230);

  --light-blue-light: rgb(150,190,255);
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--light-gray-light);
  background-color: var(--dark-gray-medium);
  margin: 0;
  padding: 0;
}

h1,h2,h3 {
  text-align: center;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

p {
  background-color: var(--dark-gray-dark);
  max-width: 80%;
  height: 100%;
  padding: 2em;
  border-radius: 0.5em;
}

a {
  color: var(--light-gray-light);
}

a:hover {
  color: var(--light-blue-light);
  transition: color 0.1s ease-in-out;
}