:root {
  --dark-gray: rgb(40,40,40);
  --light-gray-mid: rgb(180, 180, 180);
  --light-gray-light: rgb(230, 230, 230);

  --light-blue-dark: rgb(91, 144, 197);
  --light-blue-mid: rgb(131, 184, 236);
  --light-blue-light: rgb(205, 224, 255);
  --light-blue-light-2: rgba(186, 213, 255,0.7);

  --dark-blue-dark: #091316;
  --dark-blue-dark-mid: #101f29;
  --dark-blue-mid: #1d2f3a;
  --dark-blue-light: #586C73;
  --dark-blue-lighter: #91a7af;
  --dark-blue-lighter-2: #91a7afb5;

}

.dark-theme {
  --special-bg: var(--dark-blue-dark-mid);
  --nav-bg: var(--dark-blue-dark);
  --bg: var(--dark-blue-mid);

  --text: var(--light-gray-light);
  --text-alt: var(--dark-gray);
  --tech-text: var(--light-gray-mid);

  --link-bg: var(--dark-blue-lighter);
  --link-bg-hover: var(--dark-blue-lighter-2);
  --link-text-hover: var(--light-blue-light);

  --img-border: var(--light-gray-light);

  --form-textarea-bg: var(--light-gray-light);
  --form-textarea-outline: var(--light-gray-mid);
  --form-textarea-outline-focus: var(--light-blue-mid);

}

.light-theme {
  --special-bg: var(--light-blue-mid);
  --nav-bg: var(--light-blue-dark);
  --bg: var(--light-gray-light);

  --text: var(--dark-gray);
  --text-alt: var(--dark-gray);
  --tech-text: var(--dark-gray);

  --link-bg: var(--light-blue-light);
  --link-bg-hover: var(--light-blue-light-2);

  --img-border: var(--light-gray-light);

  --form-textarea-bg: var(--light-gray-light);
  --form-textarea-outline: var(--light-blue-light);
  --form-textarea-outline-focus: var(--light-blue-dark);

}


body {
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  color: var(--text);
  background-color: var(--bg);
  margin: 0;
  padding: 0;
}

h1, h3 {
  text-align: center;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.3em;
}

p,
.project-text {
  max-width: 80%;
  height: 100%;
  padding: 2em;
  border-radius: 0.5em;
}

.project-text {
  background-color: var(--special-bg);
}

a {
  color: var(--text);
}

a:hover {
  transition: color 0.1s ease-in-out;
}

button {
  all: unset;
  cursor: pointer;
  display: inline-block;
}

img {
  border-radius: 1em;
  border: 2px solid var(--img-border);
}

.link-style {
  padding: 15px 70px 15px 70px;
  text-align: center;
  background-color: var(--link-bg);
  color: var(--text-alt);
  border-radius: 0.5em;
  text-decoration: none;

  font-weight: bold;
}

.link-style:hover {
  background-color: var(--link-bg-hover);
  text-decoration: underline;
  transition: background-color 0.15s ease-in-out;
}

@media screen and (max-width: 750px) {
  .link-style {
    padding: 20px;
  }
}