@import url('https://cdnjs.cloudflare.com/ajax/libs/react-burger-menu/3.0.0/react-burger-menu.min.css');

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    background-color: var(--dark-gray-dark);
    font-size: 1.2em;
    list-style: none;
    display: flex;
    margin: 0;
}

.nav-links li {
    color: var(--light-gray-light);
    cursor: pointer;
    line-height: 2;
    padding: 0.5em 1.2em;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.nav-links li:hover {
    background-color: var(--dark-gray-medium);
    color: var(--light-blue-light);
    text-decoration: underline;
}

.nav-links li:nth-child(4) {
    margin-right: 3em;
}

/* Burger menu styles */
#burger-menu-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 20px;
    top: 20px;
}

.bm-cross-button {
    height: 24px;
    width: 24px;
}

.bm-burger-bars, .bm-cross {
    background: var(--light-blue-light);
}

.bm-menu {
    background: var(--dark-gray-dark);
    padding: 2em;
}

.bm-item {
    display: block;
    padding: 1em;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
}

.bm-item:hover {
    background-color: var(--dark-gray-medium);
    color: var(--light-blue-light);
    text-decoration: underline;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    border-radius: 0.5em;
}

/* Hide nav links on mobile */
@media (max-width: 750px) {
    .nav-links {
        display: none;
    }
}
