@import url('https://cdnjs.cloudflare.com/ajax/libs/react-burger-menu/3.0.0/react-burger-menu.min.css');

#burger-menu-wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
}

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 20px;
    top: 20px;
}

.bm-cross-button {
    height: 24px;
    width: 24px;
}

.bm-burger-bars, .bm-cross {
    background: var(--light-blue-light);
}

.bm-menu {
    background: var(--dark-gray-dark);
    padding: 2em;
}

.bm-item {
    display: block;
    padding: 1em;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
}

.bm-item:hover {
    background-color: var(--dark-gray-medium);
    color: var(--light-blue-light);
    text-decoration: underline;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    border-radius: 0.5em;
}
