nav {
    position: sticky;
    top: 0;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: var(--dark-gray-dark);
    margin: 0;
}

.nav-left {
    font-size: 1.4em;
    font-weight: bold;
    flex: 1;
}

.nav-right {
    font-size: 1.2em;
    display: flex;
}

.nav-item {
    padding: 20px;
    text-align: center;
    color: var(--light-gray-light);
}

.nav-item:hover {
    background-color: var(--dark-gray-medium);
    text-decoration: underline;
    transition: background-color 0.15s ease-in-out;
}